@font-face {
    font-family: 'ralewayregular';
    src: url('../raleway/webfontkit-20190726-062252/raleway-regular-webfont.woff2') format('woff2'),
    url('../raleway/webfontkit-20190726-062252/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: ralewayregular, Arial, sans-serif;
}

/*HEADER MENU*/

header {
    background-color: black;
    height: 40px;
}

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    color: white;
}

span {
    color: #00cca3;
}

.header__menu__item {
    display: inline;
    padding-left: 15px;

    font-weight: bold;
}

.header__menu__item:first-child:hover>#dropdown {
    display: block;
}

.header__menu__item:first-child:hover>#dropdown:before {
    display: block;
}

.header__menu__item:first-child:hover .triangle {
    display: block;
}

.header__menu__item:first-child:hover .dropdown__item {
    display: block;
}

.header__menu a {
    text-decoration: none;
    color: white;
}

a:first-child {
    position: relative;
}

#dropdown {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

#dropdown:before {
    position: absolute;
    content: '';
    width: 120px;
    height: 10px;
    background-color: white;
    left: 0;
    top: 10px;
}

.triangle {
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    border-left: 10px solid transparent;
    background-color: transparent;
    z-index: 3;
    left: 40%;
}

.dropdown__item {
    width: 120px;
    list-style-type: none;
    padding-bottom: 8px;
    position: relative;
    top: 34px;
    left: -25px;
}

.dropdown__item, .triangle, #dropdown:before, #dropdown {
    display: none;
}

#dropdown a {

}

#dropdown>ul {
    position: absolute;
    height: 120px;
    width: 150px;
}

/* SECTION 1 */

.section1 > .container {
    display: flex;
    justify-content: space-between;
}

.section1 {
    background: rgb(194, 194, 194);
    background: linear-gradient(0deg, rgba(194, 194, 194, 1) 0%, rgba(224, 224, 224, 1) 46%, rgba(255, 255, 255, 1) 100%);
    height: 480px;
}

.section1__text {
    width: 49%;
    position: relative;
}

.section1__title {
    position: absolute;
    font-size: 40px;
    top: -150px;
    left: 20px;
}

.section1__text p {
    position: absolute;
    text-align: center;
    top: -100px;
    left: -130px;
    padding: 40px 100px;
}

.section1__button {
    position: absolute;
    top: 70px;
    left: 18%;
    background-color: #00cca3;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10%;
    border: none;
}

.blackchair {
    width: 49%;
}

.arrow {
    font-size: 100px;
    color: #00cca3;
    font-weight: 100;
}

/*SECTION 2*/

.section2 .container {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
}

.section2 {
    height: 350px;
}

.picture_left {
    width: 30%;
    height: 225px;
    background-image: url("../images/box1_img.jpg");
    margin-top: 30px;
    position: relative;
}

.picture_left>span {
    background-color: rgba(255,255,255, 0.5);
    height: 70px;
    width: 100%;
    position: absolute;
    top: 50%;
    font-weight: bold;
}

.picture_left>span>p {
    color: black;
    font-weight: bold;
    position: absolute;
    top: 6px;
    left: 15px;
}

.picture_left>span>p:after {
    content: '';
    position: absolute;
    background-color: #00cca3;
    height: 8px;
    width: 150px;
    top: 20px;
    left: 0;
}

.picture_right {
    width: 30%;
    height: 225px;
    background-image: url("../images/box2_img.jpg");
    margin-top: 30px;
    position: relative;
}

.picture_right>span {
    background-color: rgba(255,255,255, 0.5);
    height: 70px;
    width: 100%;
    position: absolute;
    top: 50%;
    font-weight: bold;
}

.picture_right>span>p {
    color: black;
    font-weight: bold;
    position: absolute;
    top: 6px;
    left: 15px;
}

.picture_right>span>p:after {
    content: '';
    position: absolute;
    background-color: #00cca3;
    height: 8px;
    width: 150px;
    top: 20px;
    left: 0;
}

.section2__textbox {
    width: 30%;
    height: 225px;
    margin-top: 30px;
    border: 1px solid lightgrey;
}

.section2__textbox__text {
    font-size: 14px;
    color: grey;
    padding: 0 10px;
}

.section2__textbox__title {
    font-size: 18px;
    padding: 0 10px;
    position: relative;
}

.section2__textbox__title:after {
    content: '';
    width: 160px;
    height: 8px;
    background-color: #00cca3;
    position: absolute;
    left: 10px;
    top: 20px;
}