@font-face {
    font-family: 'ralewayregular';
    src: url('../raleway/webfontkit-20190726-062252/raleway-regular-webfont.woff2') format('woff2'),
    url('../raleway/webfontkit-20190726-062252/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: ralewayregular, Arial, sans-serif;
}

/*HEADER MENU*/

header {
    background-color: black;
    height: 40px;
}

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    color: white;
}

span {
    color: #00cca3;
}

.header__menu__item {
    display: inline;
    padding-left: 15px;

    font-weight: bold;
}

/*.header__menu__item:first-child:hover>#dropdown {*/
/*    display: block;*/
/*}*/

.header__menu__item:first-child:hover>#dropdown:before {
    display: block;
}

/*.header__menu__item:first-child:hover .triangle {*/
/*    display: block;*/
/*}*/

/*.header__menu__item:first-child:hover .dropdown__item {*/
/*    display: block;*/
/*}*/

.header__menu a {
    text-decoration: none;
    color: white;
}

a:first-child {
    position: relative;
}

#dropdown {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

#dropdown:before {
    position: absolute;
    content: '';
    width: 120px;
    height: 9px;
    background-color: white;
    left: 0;
    top: 11px;
}

.triangle {
    position: absolute;
    width: 18px;
    height: 18px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    border-left: 10px solid transparent;
    background-color: transparent;
    z-index: 3;
    left: 40%;
}

.dropdown__item {
    width: 120px;
    list-style-type: none;
    padding-bottom: 8px;
    position: relative;
    top: 34px;
    left: -25px;
}

.dropdown__item, .triangle, #dropdown:before, #dropdown {
    display: none;
}

#dropdown a {

}

#dropdown>ul {
    position: absolute;
    height: 120px;
    width: 150px;
    z-index: 99;
}

/* SECTION 1 */

.section1 > .container {
    display: flex;
    justify-content: space-between;
}

.section1 {
    background: rgb(194, 194, 194);
    background: linear-gradient(0deg, rgba(194, 194, 194, 1) 0%, rgba(224, 224, 224, 1) 46%, rgba(255, 255, 255, 1) 100%);
    height: 480px;
}

.section1__text {
    width: 49%;
    position: relative;
}

.section1__title {
    position: absolute;
    font-size: 40px;
    top: -150px;
    left: 20px;
}

.section1__text p {
    position: absolute;
    text-align: center;
    top: -100px;
    left: -130px;
    padding: 40px 100px;
}

.section1__button {
    position: absolute;
    top: 70px;
    left: 18%;
    background-color: #00cca3;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10%;
    border: none;
}

.blackchair {
    width: 49%;
}

.arrow {
    font-size: 100px;
    color: #00cca3;
    font-weight: 100;
}

/*SECTION 2*/

.section2 .container {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
}

.section2 {
    height: 350px;
}

.picture_left {
    width: 30%;
    height: 225px;
    background-image: url("../images/box1_img.jpg");
    margin-top: 30px;
    position: relative;
}

.picture_left>span {
    background-color: rgba(255,255,255, 0.5);
    height: 70px;
    width: 100%;
    position: absolute;
    top: 50%;
    font-weight: bold;
}

.picture_left>span>p {
    color: black;
    font-weight: bold;
    position: absolute;
    top: 6px;
    left: 15px;
}

.picture_left>span>p:after {
    content: '';
    position: absolute;
    background-color: #00cca3;
    height: 8px;
    width: 150px;
    top: 20px;
    left: 0;
}

.picture_right {
    width: 30%;
    height: 225px;
    background-image: url("../images/box2_img.jpg");
    margin-top: 30px;
    position: relative;
}

.picture_right>span {
    background-color: rgba(255,255,255, 0.5);
    height: 70px;
    width: 100%;
    position: absolute;
    top: 50%;
    font-weight: bold;
}

.picture_right>span>p {
    color: black;
    font-weight: bold;
    position: absolute;
    top: 6px;
    left: 15px;
}

.picture_right>span>p:after {
    content: '';
    position: absolute;
    background-color: #00cca3;
    height: 8px;
    width: 150px;
    top: 20px;
    left: 0;
}

.section2__textbox {
    width: 30%;
    height: 225px;
    margin-top: 30px;
    border: 1px solid lightgrey;
}

.section2__textbox__text {
    font-size: 14px;
    color: grey;
    padding: 0 10px;
}

.section2__textbox__title {
    font-size: 18px;
    padding: 0 10px;
    position: relative;
}

.section2__textbox__title:after {
    content: '';
    width: 160px;
    height: 8px;
    background-color: #00cca3;
    position: absolute;
    left: 10px;
    top: 20px;
}

/*SECTION 3*/

.section3 {
    background-color: #ededed;
    height: 100px;
}

.section3__title {
    color: grey;
    position: relative;
}

.section3__title:after {
    content: '';
    background-color: #00cca3;
    width: 300px;
    height: 10px;
    position: absolute;
    top: 30px;
    left: 0;
}

/*SECTION 4*/

.section4 {
    background-color: #ededed;
    height: 500px;
}

.box_one {
    height: 400px;
    width: 300px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.box_one > h1 {
    color: #00cca3;
}

.box_one>h1:before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border: 10px solid white;
    border-radius: 50px;
    position: absolute;
    left: 130px;
    top: -20px;
    box-shadow: 0 0 0 1px lightgray;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    position: relative;
}

.circle>#p1 {
    color: grey;
    position: absolute;
    left: 30px;
    top: -10px;
    font-size: 30px;
    font-weight: bold;
}

.circle>#p2 {
    color:grey;
    position: absolute;
    left: 65px;
    top: -5px;
}

.circle>#p3 {
    color: grey;
    position: absolute;
    top: 40px;
    left: 10px;
}

.firststripe {
    height: 35px;
    width: 100%;
    background-color: lightgray;
    margin-top: 20px;
    position: relative;
}

.firststripe>p {
    position: absolute;
    color: grey;
    left: 60px;
    top: -6px;
}

.secondstripe {
    height: 35px;
    width: 100%;
    background-color: #e8e9eb;
    position: relative;
}

.secondstripe>p {
    position: absolute;
    color: grey;
    left: 120px;
    top: -6px;
}

.stripefirst {
    height: 35px;
    width: 100%;
    background-color: white;
    margin-top: 20px;
    position: relative;
}

.stripefirst>p {
    position: absolute;
    color: grey;
    left: 60px;
    top: -6px;
}

#firstbox_button {
    background-color: #00cca3;
    color: white;
    border-radius: 10%;
    border: none;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 350px;
}

#thirdbox_button {
    background-color: #00cca3;
    color: white;
    border-radius: 10%;
    border: none;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 350px;
}

#secondbox__button {
    background-color: white;
    color: #00cca3;
    border-radius: 10%;
    border: none;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 350px;
}

.box_two {
    height: 400px;
    width: 300px;
    border: 1px solid #00cca3;
    background-color: #00cca3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.box_two>h1 {
    color: white;
    position: relative;
}

.box_two>h1:before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: white;
    border: 10px solid #00cca3;
    border-radius: 50px;
    position: absolute;
    left: 40%;
    top: -40px;
}

.thirdstripe {
    height: 35px;
    width: 100%;
    background-color: white;
    position: relative;
}

.thirdstripe>p {
    color: gray;
    left: 90px;
    top: -6px;
    position: absolute;
}

.stripethird {
    height: 35px;
    width: 100%;
    background-color: lightgray;
    position: relative;
}

.stripethird>p {
    color: gray;
    left: 90px;
    top: -6px;
    position: absolute;
}

.box_three {
    height: 400px;
    width: 300px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.box_three>h1 {
    color: #00cca3;
}

.box_three>h1:before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border: 10px solid white;
    border-radius: 50px;
    position: absolute;
    left: 130px;
    top: -20px;
    box-shadow: 0 0 0 1px lightgray;
}

.forthstripe {
    height: 35px;
    width: 100%;
    background-color:  #e8e9eb;
    position: relative;
}

.forthstripe>p {
    color: gray;
    left: 80px;
    top: -6px;
    position: absolute;
}

/*SECTION 5*/

.kontakt {
    color: grey;
}

.section5 {
    position: relative;
}

.kontakt:after {
    content: '';
    background-color: #00cca3;
    width: 300px;
    height: 10px;
    position: absolute;
    top: 50px;
    left: 0;
}

/*SECTION 6*/

.section6 {
    height: 500px;
}

.formularz {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    border: 1px solid #00cca3;
    width: 600px;
    height: 70px;
    margin-bottom: 50px;
}

textarea {
    border: 1px solid #00cca3;
    width: 600px;
    height: 150px;
    resize: none;
}

::placeholder {
    font-size: 30px;
    color: lightgrey;
}

.form__rest {
    position: relative;
    width: 40%;
}

.form__image {
    position: absolute;
    background-image: url("../images/red_chair.png");
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 60px;
    top: -230px;
}

.form__rest p {
    position: absolute;
    left: 130px;
    top: 0px;
    font-size: 20px;
    color: grey;
}

input[type=checkbox] {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 30px;
    top: 20px;
}

#send {
    background-color: #00cca3;
    color: white;
    border-radius: 10%;
    border: none;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 120px;
    left: 50px;
    font-size: 40px;
}

/*FOOTER*/

footer {
    height: 100px;
}

.footer__icons {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.footer__title {
    color: grey;
    padding-left: 40px;
}

.icons {
    width: 35px;
    height: 35px;
}

.copyright {
    color: grey;
}